<html>
<head> 
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        td {
            width: 40px;
            height: 40px;
            border: 1px solid black;
        }
        table {
            border: 1px solid black;
            border-spacing: 0;
        }
        #error_messages {
            color: red;
        }
    </style>
</head>
<body>
    <div id='base'>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <table id='employees'>
            <thead><tr><td>Id</td><td>Name</td><td>Employee id</td><td>Salary</td><td>Manager</td></tr></thead>
            <tbody id='employee_data'></tbody>
            </table>
            <p id='error_messages'>
    </div>
    <script src="main.js"></script>
</body>
</html>
